extends layout

block content

  a(href='/call/disconnect') Disconnect
  br
  hr

  img(id="image")

  script(src="/socket.io/socket.io.js")
  
  script.
    var socket = io.connect();

    socket.on('image', (image) => {
      $('#image').attr('src', `data:image/jpeg;base64, ${image}`);
    });